.sign-in {
    width: 30vw;
    display: flex;
    flex-direction: column;

    .title {
        margin-bottom: 10px;
    }

    .button{
        display: flex;
        justify-content: space-between;
    }
}